<!-- Yeahmobi Pixel Code --> 
<script> 
	<?php
		$pixel_id = $this->getPixelId();

		echo $this->pixelInitCode();
	?>

    !function(w,o,s,r,p,k,e){if(w.mkq){return}p=w.mkq=function(){p.invokeFunc?p.invokeFunc.apply(p,arguments):p.qu.push(arguments)};if(!w._mkq){w._mkq=p}p.push=p;p.qu=[];k=o.createElement(s);k.async=!0;k.src=r;e=o.getElementsByTagName(s)[0];e.parentNode.insertBefore(k,e)}(window,document,"script","//pixeltrack.clientgear.com/mkq.min.js");

    uid? mkq('init', '<?php echo $pixel_id ?>',uid):mkq('init', '<?php echo $pixel_id ?>');

    mkq('track', "PageView");

	<?php
	//Stardand events
	/**
     * 这边引出来一个问题，js 函数的使用一定要在 body 内吗？
     * 想这样在 head 中使用无不妥吧？
	 *
	 * 这边输出的内部的判断有二
	 * 1. 后台是否开启(看 helper )
	 * 2. observer 是否在 session 中记录了事件
     */
	echo $this->getViewContentEvent();
	echo $this->getSearchEvent();
	echo $this->getAddToCartEvent();
	echo $this->getAddToWishlistEvent();
	echo $this->getInitiateCheckoutEvent();
	echo $this->getAddPaymentInfoEvent();
	echo $this->getPurchaseEvent();
	echo $this->getLeadEvent();
	echo $this->getCompleteRegistrationEvent();
	?>

</script> 

<?php /*
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=<?php echo $pixel_id?>&ev=PageView&noscript=1"
/></noscript>
*/ ?>
<!-- End Yeahmobi Pixel Code -->