<fieldset>
	<?php
		//Getting admin user info
		$admin = Mage::getSingleton('admin/session')->getUser(); 
	?>
	<table>
		<tr>
			<?php $logo_src =  Mage::getDesign()->getSkinBaseUrl(array('_area'=>'adminhtml', '_theme'=>'default')). 'nullor/yeahmobi/logo-nullor.png' ?>
			<td style="vertical-align: middle;"><img src="<?php echo $logo_src; ?>" alt="nullor.com" style="width: 125px;"/></td>
			<td width="10"></td>
			<td>
			<h4>Hey <?php echo $admin->getFirstname()?>, thanks for using our extension!  </h4>
			At nullor.com we are committed to deliver high quality development services for Magento. If you have any question about our extension or need any help with your online store, feel free to <strong><a href="http://www.nullor.com/contact-us/" target="_blank">get in touch with us</a></strong>. We will be happy to hear from you and we will reply you as soon as possible.
			</td>
		</tr>
	</table>
</fieldset>